body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-color: black;
}

.navbar {
  background-color: #555;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2{
  font-size: 40px;
  color: gainsboro;
}

#btn1 {
  background-color: gray;
  color: gainsboro;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 290px;
  height: 70px;
  font-size: 30px;
  border-radius: 12px;
  margin-top: 6px;
  position:fixed;
  right: 6px;
  outline: 3px solid darkgray;
}

#btn1:hover {
  justify-content: right;
  align-items: end;
  background-color: #26c511;
}

.user-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: gainsboro;
}

.user-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-card h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.user-card p {
  margin: 5px 0;
  color: #555;
  text-align: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ff4081;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
